LLM_PROVIDER=deepinfra
DEEPINFRA_API_KEY=fK3OyjUR45LcO07yvNZzOOO1VYrVQXNX
LLM_BASE_URL=https://api.deepinfra.com/v1/openai
LLM_MODEL_SYNTHESIS=meta-llama/Meta-Llama-3.1-8B-Instruct
LLM_MODEL_CRITIC=meta-llama/Llama-3.3-70B-Instruct

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=
AGENT_VERSION=
